{
    "openapi": "3.0.0",
    "x-explorer-enabled": false,
    "info": {
      "title": "https:\/\/app.asana.com\/0\/681252538274980\/1132986302265166F",
      "description": "",
      "contact": {

      },
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https:\/\/api.uk.littlepay.com\/fare_engine\/",
        "variables": {

        }
      },
      {
        "url": "https:\/\/your.fareengine.com\/",
        "variables": {

        }
      }
    ],
    "paths": {
      "\/fares": {
        "post": {
          "tags": [
            "Fares"
          ],
          "summary": "Create a fare",
          "description": "A fare represents a charge as determined by your fare engine. Fares can be submitted to Littlepay for single or multiple transactions depending on your transaction flow.",
          "parameters": [
            {
              "name": "Content-Type",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "explode": false,
              "schema": {
                "type": "string",
                "default": "application\/json"
              }
            },
            {
              "name": "Hash-Algorithm",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "explode": false,
              "schema": {
                "type": "string",
                "default": "HmacSHA256"
              }
            },
            {
              "name": "Hash-Key-Id",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "explode": false,
              "schema": {
                "type": "string",
                "default": 1
              }
            },
            {
              "name": "Hash-Value",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "explode": false,
              "schema": {
                "type": "string",
                "default": "<message_hmac>"
              }
            }
          ],
          "requestBody": {
            "description": "This is an example of a fare submission.",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/fare_result"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {

              }
            }
          },
          "deprecated": false
        }
      }
    },
    "components": {
      "schemas": {
        "fare_result": {
          "title": "fare_result",
          "required": [
            "merchant_id",
            "customer_id",
            "fare",
            "transactions"
          ],
          "type": "object",
          "properties": {
            "merchant_id": {
              "type": "string",
              "description": "Unique identifier of the merchant for which the transaction was accepted.",
              "default": "819f6312-1e8e-4712-a2a9-d35ad7b17b18"
            },
            "customer_id": {
              "type": "string",
              "description": "Unique identifier of the customer that presented their payment media.",
              "default": "bd2dae1f-60e5-4212-9c6a-2b431c4a95e1"
            },
            "fare": {
              "$ref": "#\/components\/schemas\/fare"
            },
            "transactions": {
              "type": "array",
              "items": {
                "$ref": "#\/components\/schemas\/transaction"
              }
            }
          }
        },
        "transaction_event": {
          "title": "transaction_event",
          "required": [
            "transaction_id",
            "merchant_id",
            "device_id",
            "customer_id",
            "transaction_date_time",
            "travel_mode",
            "transaction_location"
          ],
          "type": "object",
          "properties": {
            "transaction_id": {
              "type": "string",
              "description": "Unique identifier of the transaction.",
              "default": "2009b586-9c53-43c6-b274-5615adb856ee"
            },
            "merchant_id": {
              "type": "string",
              "description": "Unique identifier of the merchant for which the transaction was accepted.",
              "default": "mybuscompany"
            },
            "device_id": {
              "type": "string",
              "description": "Unique identifier of the device that accepted the transaction.",
              "default": "TERMINAL1000"
            },
            "customer_id": {
              "type": "string",
              "description": "Unique identifier of the customer that presented their payment media.",
              "default": "bd2dae1f-60e5-4212-9c6a-2b431c4a95e1"
            },
            "transaction_date_time": {
              "type": "string",
              "description": "The date\/time (ISO8601 format) when the transaction took place as recorded by the device.",
              "default": "2017-11-22T23:03:03.000Z"
            },
            "travel_mode": {
              "enum": [
                "single",
                "variable"
              ],
              "type": "string",
              "description": "This will be `single` when the customer is only required to present their payment method when getting on the vehicle, otherwise `variable` when the customer presents when getting on and off.\n+ `single`\n+ `variable`\n",
              "default": "variable"
            },
            "transaction_location": {
              "$ref": "#\/components\/schemas\/transaction_location"
            },
            "trip": {
              "$ref": "#\/components\/schemas\/trip"
            }
          }
        },
        "transaction_location": {
          "title": "transaction_location",
          "required": [
            "latitude",
            "longitude",
            "bearing"
          ],
          "type": "object",
          "properties": {
            "latitude": {
              "type": "number",
              "description": "The latitude (WGS84) of the location",
              "default": 38.1499
            },
            "longitude": {
              "type": "number",
              "description": "The longitude (WGS84) of the location",
              "default": 144.3617
            },
            "bearing": {
              "type": "number",
              "description": "The bearing, which is the direction towards which you are headed, measured in the number of degrees from North, counted clockwise.",
              "default": 38
            }
          },
          "default": {
            "latitude": 38.1499,
            "longitude": 144.3617,
            "bearing": 38
          }
        },
        "trip_result": {
          "title": "trip_result",
          "required": [
            "merchant_id",
            "customer_id",
            "transaction_id",
            "trip"
          ],
          "type": "object",
          "properties": {
            "merchant_id": {
              "type": "string",
              "description": "Unique identifier of the merchant for which the transaction was accepted.",
              "default": "819f6312-1e8e-4712-a2a9-d35ad7b17b18"
            },
            "customer_id": {
              "type": "string",
              "description": "Unique identifier of the customer that presented their payment media.",
              "default": "bd2dae1f-60e5-4212-9c6a-2b431c4a95e1"
            },
            "transaction_id": {
              "type": "string",
              "description": "Unique identifier of the transaction.",
              "default": "2009b586-9c53-43c6-b274-5615adb856ee"
            },
            "trip": {
              "$ref": "#\/components\/schemas\/trip"
            }
          }
        },
        "trip": {
          "title": "trip",
          "type": "object",
          "description": "Travel related data for a transaction.",
          "properties": {
            "direction": {
              "enum": [
                "inbound",
                "outbound"
              ],
              "type": "string",
              "description": "The direction that the vehicle was traveling at the time the transaction was recorded.\n+ `inbound` - toward fare calculation reference point\n+ `outbound` - away from fare calculation reference point\n",
              "default": "inbound"
            },
            "customer_action": {
              "enum": [
                "boarding",
                "alighting",
                "unknown"
              ],
              "type": "string",
              "description": "The action being taken by the traveller. \n+ `boarding` - the traveller is getting on\n+ `alighting` - the traveller is getting off\n+ `unknown` - the action being taken by the traveller is not known\n",
              "default": "boarding"
            },
            "service": {
              "$ref": "#\/components\/schemas\/service"
            },
            "zone": {
              "$ref": "#\/components\/schemas\/zone"
            },
            "route": {
              "$ref": "#\/components\/schemas\/route"
            },
            "stop_location": {
              "$ref": "#\/components\/schemas\/stop_location"
            }
          }
        },
        "service": {
          "title": "service",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "A service identifier expected to be unique in it's context"
            },
            "title": {
              "type": "string",
              "description": "A descriptive title associated with the service identifier"
            }
          }
        },
        "zone": {
          "title": "zone",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "A zone identifier expected to be unique in it's context"
            },
            "title": {
              "type": "string",
              "description": "A descriptive title associated with the zone identifier"
            }
          }
        },
        "route": {
          "title": "route",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "A route identifier expected to be unique in it's context"
            },
            "title": {
              "type": "string",
              "description": "A descriptive title associated with the route identifier"
            }
          }
        },
        "stop_location": {
          "title": "stop_location",
          "type": "object",
          "properties": {
            "scheme": {
              "type": "string",
              "description": "The scheme goverining the location identifiers (ATCO, TIPLOC, GTFS)"
            },
            "location_identifier": {
              "type": "string",
              "description": "The identifier for the stop within the scheme"
            },
            "title": {
              "type": "string",
              "description": "The title of the stop"
            }
          }
        },
        "fare": {
          "title": "fare",
          "required": [
            "fare_type",
            "description",
            "amount",
            "currency"
          ],
          "type": "object",
          "properties": {
            "fare_type": {
              "enum": [
                "maximum",
                "incomplete",
                "indicative"
              ],
              "type": "string",
              "description": "The type of fare applied. `maximum` for `variable` travel mode when the maximum fare value for a route is notified before expected 'tap off'. `incomplete` for `variable` travel mode when a 'tap off' timeout has occurred, `indicative` for all other calculated fares.\n+ `maximum`\n+ `incomplete`\n+ `indicative`\n",
              "default": "indicative"
            },
            "description": {
              "type": "string",
              "description": "A description of the applicable fare.",
              "default": "Tap-and-Go"
            },
            "amount": {
              "type": "number",
              "description": "The monetary value of the fare in the smallest measurable unit of the specified currency.",
              "default": 120
            },
            "currency": {
              "type": "string",
              "description": "The currency of the fare amount.",
              "default": "GBP"
            }
          }
        },
        "transaction": {
          "title": "transaction",
          "required": [
            "transaction_id",
            "trip"
          ],
          "type": "object",
          "properties": {
            "transaction_id": {
              "type": "string",
              "description": "Unique identifier referring to a transaction.",
              "default": "2009b586-9c53-43c6-b274-5615adb856ee"
            },
            "trip": {
              "$ref": "#\/components\/schemas\/trip"
            }
          }
        }
      }
    },
    "tags": [
      {
        "name": "Webhook Events",
        "description": "These events are published by Littlepay. You will need to setup an endpoint to receive events."
      },
      {
        "name": "Trips",
        "description": ""
      },
      {
        "name": "Fares",
        "description": ""
      }
    ]
  }
